:root {
    --color-background: #e5e5e523;
    --color-black: #000000;
    --color-border: #E6EFFB;
    --color-items: #2d2d2dd2;
    --color-navbar: #7C8DB5;

    --peso-titulo: 800;
    --peso-items: 600;

    --padding-header: 1.5rem 3rem;
    --padding-notification: 0.5rem 2rem;
    --margin-items: 1.5rem;

    --familia-padrao: sans-serif;
}